/**
* 
*/

body {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 155%;
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(65, 65, 65);
    width: 100vw;
    /* height: 100vh; */
    background-image: url("assets/images/simon-berger-twukN12EN7c-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    /* overflow: hidden; */
    /* color: blanchedalmond; */
    z-index: 1;
}

.header {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 2% 33%;
    /* font-family: 'Lobster', cursive; */
    font-weight: 300;
    padding: 20px;
    text-align: center;
    font-size: 150%;
    color: white;
    background-color: rgba(27, 27, 27, 0.644);
    -webkit-backdrop-filter: blur(14px);
    backdrop-filter: blur(14px);
    border-radius: 20px;
    /* position: relative; */
}

.main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.sdk {
    color: white;
    width: 400px;
    height: 400px;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(9, 1fr);
    grid-row-gap: 1px;
    grid-column-gap: 1px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 40px 40px;
    margin: 10px 10px;
    border-radius: 10%;
    border-color: 2px solid white;
    background-color: rgba(94, 94, 94, 0.493);
    -webkit-backdrop-filter: blur(14px);
    backdrop-filter: blur(14px);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.226);
}

.sudoku2 .square {
    cursor: initial;
}

.square,
input {
    border-radius: 30%;
    width: 40px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.404);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.11);
    transition: all .3s;
}

.square:hover{
    background-color: rgba(255, 255, 255, 0.274);
    transform: scale(1.05);
}

.emphasis {
    background-color: rgba(0, 0, 0, 0.288);
}

.emphasis:hover{
    background-color: rgba(0, 0, 0, 0.192);
}




.square,
input {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
    border: none;
    color: white;
    font-size: 100%;
    /* box-shadow: none; */
}

input::-moz-selection {
    background-color: beige;
    color: aqua;
    /* text-decoration: none; */
    border: none;
}

input::selection {
    background-color: beige;
    color: aqua;
    /* text-decoration: none; */
    border: none;
}

.icon {
    font-weight: 100;
    position: absolute;
    z-index: 100;
    color: white;
    top: 49px;
    left: 80vw;
    width: 30px;
    height: 30px;
    text-align: center;
    margin: auto;
    border: 2px solid red;
    /* margin-right: 20px; */
}

.menu {
    /* display: none; */
    position: absolute;
    /* opacity: 0; */
    top: 7.5%;
    left: 7.5%;
    height: 85vh;
    width: 85vw;
    overflow: hidden;
    color: white;
    border-radius: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 99;
    /* backdrop-filter: blur(18px); */
    -webkit-backdrop-filter: blur(14px);
            backdrop-filter: blur(14px);
    background-color: rgba(0, 0, 0, 0.808);
    -webkit-transform: scale(.001);
        -ms-transform: scale(.001);
            transform: scale(.001);
    /* opacity: 0; */
    display: none;
}

.animate{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-animation-name: menuzoom;
            animation-name: menuzoom;
    -webkit-animation-duration: .9s;
            animation-duration: .9s;
    -webkit-animation-timing-function: cubic-bezier(.49,-0.11,0,1.28);
            animation-timing-function: cubic-bezier(.49,-0.11,0,1.28);
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;

}

.menu h1 {
    position: relative;
    z-index: 99;
    font-weight: 200;
}

.menu p {
    position: relative;
    width: 80%;
    -webkit-font-kerning: auto;
            font-kerning: auto;
    font-style: italic;
    font-weight: 100;
}


.interact {
    margin: 0 24%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.interact .btn {
    /* background-color: black; */
    color: white;
    background-color: rgba(27, 27, 27, 0.644);
    -webkit-backdrop-filter: blur(14px);
    backdrop-filter: blur(14px);
    border-radius: 20px;
    margin: 20px;
    padding: 10px;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.reset, .hide{
    /* transform: scale(.75); */
    font-style: italic;
    font-size: 90%;
    font-weight: 100;
}

.btn:hover{
    background-color: rgba(65, 65, 65, 0.644);
    cursor: pointer;
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
}

.backbtn{
    margin-top: 20px;
    font-size: 80%;
    border-bottom: 1px solid white;
    -webkit-transition: all .3s ;
    -o-transition: all .3s ;
    transition: all .3s ;
}

.backbtn:hover{
    color: rgba(114, 51, 75, 0.952);
    border-bottom: 1px solid rgb(114, 51, 75, 0.952);
    cursor: pointer;
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
}


@-webkit-keyframes menuzoom{
    from{
        -webkit-transform: scale(.001) rotate(90deg);
                transform: scale(.001) rotate(90deg);
    }
    to{
        -webkit-transform: scale(1);
                transform: scale(1);
    }
}


@keyframes menuzoom{
    from{
        -webkit-transform: scale(.001) rotate(90deg);
                transform: scale(.001) rotate(90deg);
    }
    to{
        -webkit-transform: scale(1);
                transform: scale(1);
    }
}